.three-dots {
  border: none;
}
.three-dots-btn {
  margin-right: 85%;
  border: none;
}
.about {
  margin-top: 10px;
  border-top: 2px solid #ecebeb;
  border-bottom: 2px solid #ecebeb;
}
.bin-img {
  margin-top: 25%;
  border: none;
  margin-bottom: 25%;
}
